@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #7c2727;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
}
nav li{
    margin-left: 150px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: white;
    color: black;
}
header {
    display: flex;
    width: 50%;
    margin: auto;
    height: 68vh;
    align-items: center;
}
.banner{
    height: 100vh;
    background: rgb(180, 146, 100);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo{
    color: rgb(139, 48, 48);
    font-size: 35px;
    font-weight: 600;
    width: 18%;
    font-display: flex;
}
.texto .sub_titulo{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20%;
}
.imagens{
    display: top;
    width: 150%;
    top:300px;
}